# Alejandro Rodriguez Perez SQL Task 1

In [10]:
import sqlite3
import datetime
import pandas as pd

In [14]:
# Creating DB

conn = sqlite3.connect("TestDBTask_1.db")
c = conn.cursor()

try:

    # Create table - ACCOUNTS
    c.execute(
        """CREATE TABLE ACCOUNTS
                 ([account_id] INTEGER PRIMARY KEY,[company_name] text, [country] text)"""
    )

    # Create table - COUNTRY
    c.execute(
        """CREATE TABLE USERS
                 ([user_id] INTEGER PRIMARY KEY,[account_ID] integer, [startpoint] timestamp, [endpoint] timestamp)"""
    )

    conn.commit()

    # POPULATING TABLE ACCOUNTS
    accounts = pd.DataFrame(
        {
            "account_id": [23, 34, 54, 64, 65],
            "company_name": ["sb", "msft", "pltr", "nio", "btc"],
            "country": ["ES", "US", "AZ", "ME", "SK"],
        }
    )
    accounts.to_sql("ACCOUNTS", conn, if_exists="append", index=False)

    # POPULATING TABLE USERS
    users = pd.DataFrame(
        {
            "user_id": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
            "account_id": [23, 34, 54, 64, 65, 54, 54, 54, 54, 54, 54],
            "startpoint": [
                datetime.datetime(2020, 5, 17),
                datetime.datetime(2020, 6, 17),
                datetime.datetime(2020, 7, 17),
                datetime.datetime(2020, 8, 17),
                datetime.datetime(2020, 9, 17),
                datetime.datetime(2020, 7, 17),
                datetime.datetime(2020, 8, 17),
                datetime.datetime(2020, 9, 17),
                datetime.datetime(2020, 7, 17),
                datetime.datetime(2020, 8, 17),
                datetime.datetime(2020, 9, 17),
            ],
            "endpoint": [
                datetime.datetime(2021, 1, 1),
                datetime.datetime(2021, 1, 17),
                datetime.datetime(2021, 2, 17),
                datetime.datetime(2021, 4, 17),
                datetime.datetime(2021, 4, 26),
                datetime.datetime(2021, 4, 26),
                datetime.datetime(2021, 4, 26),
                datetime.datetime(2021, 4, 26),
                datetime.datetime(2021, 4, 26),
                datetime.datetime(2021, 4, 26),
                datetime.datetime(2021, 4, 26),
            ],
        }
    )
    users.to_sql("USERS", conn, if_exists="append", index=False)
except:
    print("DB already setup")

DB already setup

## Please show 1) the list of all company names, which currently have alive users 2) the total number of such users per account

In [15]:
c.execute(
    """
    
        SELECT  
            accounts.company_name
            ,COUNT(users.user_id)
        FROM 
            ACCOUNTS as accounts
        INNER JOIN
            USERS as users
        ON
           accounts.account_id = users.account_id
        WHERE
            users.endpoint > date('now')
        GROUP BY
            1
            
    """
)
pd.DataFrame(c.fetchall(), columns=["Company Name", "Number of Active Users"])

  Company Name  Number of Active Users
0          btc                       1
1          nio                       1
2         pltr                       6

## From the results of the previous task, please output the companies with more than 5 users and with countries that start with letter “a”

In [16]:
c.execute(
    """
    
        SELECT  
            accounts.company_name AS "Company Name"
            ,COUNT(users.user_id) AS "Number of Active Users"
        FROM 
            ACCOUNTS as accounts
        INNER JOIN
            USERS as users
        ON
           accounts.account_id = users.account_id
        WHERE
            users.endpoint > date('now')
            AND LOWER(accounts.country) LIKE 'a%'
        GROUP BY
            "Company Name"
        HAVING
            "Number of Active Users" > 5
            
    """
)
pd.DataFrame(c.fetchall(), columns=["Company Name", "Number of Active Users"])

  Company Name  Number of Active Users
0         pltr                       6